@model LogOnModel
@using Naviam.WebUI.Models
@using Naviam.WebUI.Resources

@{
    ViewBag.Title = "Naviam";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>@SharedStrings.LogonHeader</legend>

            <div>
                @Html.LabelFor(m => m.UserName)
            </div>
            <div>
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div>
                @Html.LabelFor(m => m.Password)
            </div>
            <div>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <button type="submit">@SharedStrings.LogOn</button>
            </p>
        </fieldset>
    </div>
}
