@model LogOnModel
@using Naviam.WebUI.Models
@using Naviam.WebUI.Resources

@{
    ViewBag.Title = "Naviam";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}


@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm()) {
    <section id="signup">
        <fieldset>
            <legend>Sign up</legend>
            <div><input type="email" autocomplete="yes" required="yes" placeholder="Please enter your email here"/></div>
            <div><input type="password" required="yes" placeholder="Please type your password here"/></div>
            <p>
                <button type="submit">Sign Up</button>
            </p>
        </fieldset>
    </section>
    <section class="logon">
        <fieldset>
            <legend>@SharedStrings.LogonHeader</legend>
            <div>
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "Please enter your email here", type = "email" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div>
                @Html.PasswordFor(m => m.Password, new { placeholder = "Please enter your password here" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="rememberme">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <button type="submit">@SharedStrings.LogOn</button>
            </p>
        </fieldset>
    </section>
    <div style="clear: right"></div>
    <section class="openid">
        OR LOGIN WITH: @Html.ActionLink("Google", "GoogleLogin")
    </section>
}
