@model LogOnModel
@using Naviam.WebUI.Models
@using Naviam.WebUI.Resources

@{
    ViewBag.Title = "Naviam - Sign In";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm()) {
    <section class="login">
        <fieldset>
            <div>
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "Please enter your email here", type = "email" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div>
                @Html.PasswordFor(m => m.Password, new { placeholder = "Please enter your password here" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="rememberme">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <p><button type="submit">@SharedStrings.LogIn</button></p>
            <hr/>
            <div>
                OR LOGIN WITH: @Html.ActionLink("Google", "GoogleLogin")
            </div>
        </fieldset>
    </section>
    <div style="clear: left"></div>
}
