@model RegisterModel
@using Naviam.WebUI.Models
@using Naviam.WebUI.Resources
@{
    ViewBag.Title = SharedStrings.SignUp;
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

@Html.ValidationSummary()

@using (Html.BeginForm()) {
    <section class="signup">
        <fieldset>
            <div>
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "Please enter your email here", type = "email" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div>
                @Html.PasswordFor(m => m.Password, new { placeholder = "Please enter your password here" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Please confirm your password here" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <p><button type="submit">@SharedStrings.SignUp</button></p>
        </fieldset>
    </section>
    <div style="clear: left"></div>
}

