@{
    Layout = "~/Views/Shared/LayoutMember.cshtml";
}
@if (IsSectionDefined("LeftColumn"))
{
    <aside>@RenderSection("LeftColumn", false)</aside>
}
<article>@RenderBody()</article>
@if (IsSectionDefined("RightColumn"))
{
    <aside>@RenderSection("RightColumn", false)</aside>
}
                                                                                   
@*<table>
<tr>
@if (IsSectionDefined("LeftColumn")) {<td>@RenderSection("LeftColumn", false)</td>}
<td style='width:80%'>@RenderBody()</td>
@if (IsSectionDefined("RightColumn")){<td>@RenderSection("RightColumn", false)</td>}
</tr>
</table>*@
