@using Combres.Mvc;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.CombresLink("naviamCss")
    <!--[if lt IE 8]><link rel="stylesheet" href="@Url.Content("~/Content/blueprint/ie.css")" type="text/css" media="screen, projection"><![endif]-->
    @Html.CombresLink("jquery tools validate")

    <script type="text/javascript" src="@Url.Content(String.Format("~/Scripts/locale/Naviam.JavaScript.{0}.js", System.Threading.Thread.CurrentThread.CurrentUICulture.Name))"></script> 
    
    @*intellisense support*@
    @if (false)
    { 
        <script type="text/javascript" src="~/Scripts/jquery-1.6.2.js"></script> 
    }
</head>

<body>
<div class="container">
    <nav>
        <ul class="left">
            <li><a href="#">Домашний учет</a></li>
            <li><a href="#">ИП "Гатальский В.."</a></li>
            <li><a href="#">ООО "Илайфлэб"</a></li>
        </ul>
        <ul class="right">
            <li><a href="Error.cshtml">Виталий Гатальский</a></li>
            <li><a href="Error.cshtml">0</a></li>
            <li><a href="Error.cshtml">?</a></li>
            <li><a href="Error.cshtml">Выйти</a></li>
        </ul>
    </nav>
    <hr/>
    <header>
        Logo
    </header>
    <hr/>
    <div id="main">
        @RenderBody()
    </div>
    <hr/>
    <footer>© 2011 Naviam Inc.</footer>
</div>
@if (System.Configuration.ConfigurationManager.AppSettings["EnableGoogleAnalytics"].AsBool())
{
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24526292-1']);
  _gaq.push(['_setDomainName', '.naviam.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
}
</body>
</html>
