@using Combres.Mvc;
@using System.Reflection;
@using Naviam.WebUI.Controllers
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.CombresLink("naviamCss")
    <!--[if lt IE 8]><link rel="stylesheet" href="@Url.Content("~/Content/blueprint/ie.css")" type="text/css" media="screen, projection"><![endif]-->
    <script type="text/javascript" src="@Url.Content(String.Format("~/Scripts/locale/Naviam.JavaScript.{0}.js", System.Threading.Thread.CurrentThread.CurrentUICulture.Name))"></script>
    @Html.CombresLink(ViewBag.CombresScripts as string)
    @*intellisense support*@
    @if (false)
    { 
        <script type="text/javascript" src="~/Scripts/jquery-1.6.2.js"></script> 
    }
</head>
<body>
<script type="text/javascript">
    var pageContext = {};
    pageContext.companyId = '@Request.QueryString["cid"]';
</script>
    <div class="container">
    <nav>
        
        @{Html.RenderAction("CompaniesMenu", "MenuApp");}
       
        <ul class="right">
            <li><a href="Error.cshtml">Виталий Гатальский</a></li>
            <li><a href="Error.cshtml">0</a></li>
            <li><a href="Error.cshtml">?</a></li>
            <li><a href="@Url.Action("LogOn", "Account")">Выйти</a></li>
        </ul>
    </nav>
        <hr />
    <header>
        Logo
         @{Html.RenderAction("TopMenu", "MenuApp");}
    </header>
        <hr />
        <div id="main">
            @RenderBody()
        </div>
        <hr />
        @{Assembly assembly = typeof(TransactionsController).Assembly;}
        <footer>© @DateTime.Now.Year Naviam Inc. (Ver. @assembly.GetName().Version)</footer>
    </div>
<script type="text/javascript">
    $(document).ready(function () { 
    @if (TempData["ErrorContextText"] != null){
        <text>showSiteError('@TempData["ErrorContextText"]');</text>
    }
    });
</script>
   @if (System.Configuration.ConfigurationManager.AppSettings["EnableGoogleAnalytics"].AsBool())
    {
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-24526292-1']);
            _gaq.push(['_setDomainName', '.naviam.com']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    }
</body>
</html>
