@using Combres.Mvc;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.CombresLink("siteCss")
    @Html.CombresLink("jquery validate")

    <script type="text/javascript" src="@Url.Content(String.Format("~/Scripts/locale/Naviam.JavaScript.{0}.js", System.Threading.Thread.CurrentThread.CurrentUICulture.Name))"></script> 
    
    @*intellisense support*@
    @if (false)
    { 
        <script type="text/javascript" src="~/Scripts/jquery-1.6.2.js"></script> 
    }
</head>

<body>
    <div class="page">

        <div id="main">
            @RenderBody()
        </div>
    </div>
@if (System.Configuration.ConfigurationManager.AppSettings["EnableGoogleAnalytics"].AsBool())
{
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24526292-1']);
  _gaq.push(['_setDomainName', '.naviam.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
}
</body>
</html>
