@using Combres.Mvc;
@using System.Reflection;
@using Naviam.Data;
@using Naviam.WebUI.Controllers
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.CombresLink("naviamCss")
    <!--[if lt IE 8]><link rel="stylesheet" href="@Url.Content("~/Content/blueprint/ie.css")" type="text/css" media="screen, projection"><![endif]-->
    <script type="text/javascript" src="@Url.Content(String.Format("~/Scripts/locale/Naviam.JavaScript.{0}.js", System.Threading.Thread.CurrentThread.CurrentUICulture.Name))"></script>
    @Html.CombresLink(ViewBag.CombresScripts as string)
    @*intellisense support*@
    @if (false)
    { 
        <script type="text/javascript" src="~/Scripts/jquery-1.6.2.js"></script> 
    }
</head>
<body>
    <script type="text/javascript">
        var pageContext = {};
        pageContext.companyId = '@Request.QueryString["cid"]';
    </script>
    <header>
        <nav class="left">
            @{Html.RenderAction("CompaniesMenu", "MenuApp");}
        </nav>
        <nav class="right">
            @{var user = ViewBag.CurrentUser as UserProfile;}
            <ul>
                <li><a href="Error.cshtml">@user.FirstName @user.LastName</a></li>
                <li><a href="Error.cshtml">0</a></li>
                <li><a href="Error.cshtml">?</a></li>
                <li><a href="@Url.Action("LogOn", "Account")">Выйти</a></li>
            </ul>
        </nav>
    </header>
    <div style="float: none"></div>
    <section class="menu">
        <h1>NAVIAM.COM</h1>
        <nav>@{Html.RenderAction("TopMenu", "MenuApp");}</nav>
    </section>
    <div style="float: none"></div>
    <section class="main">
        @RenderBody()
    </section>
    
    <div style="clear: left;"></div>
    @{var assembly = typeof(TransactionsController).Assembly;}
    <footer>© @DateTime.Now.Year Naviam Inc. (Ver. @assembly.GetName().Version)</footer>

    <script type="text/javascript">
        $(document).ready(function () { 
        @if (TempData["ErrorContextText"] != null){
            <text>showSiteError("@Html.Raw(TempData["ErrorContextText"] as string)");</text>
        }
        });
    </script>
   @if (System.Configuration.ConfigurationManager.AppSettings["EnableGoogleAnalytics"].AsBool())
    {
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-24526292-1']);
            _gaq.push(['_setDomainName', '.naviam.com']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    }
</body>
</html>
