@using Naviam.WebUI.Models
@model MenuModel
<div class="menu_container">
    <ul id="menu" class="left company_menu">
        @foreach (var item in @Model.TopMenu)
        {
            if (item.Selected)
            { 
            <li><a class="selected" href="@Url.Content(item.Url)">@item.Title</a></li>
            }
            else 
            { 
            <li><a href="@Url.Content(item.Url)">@item.Title</a></li>
            }
        }
    </ul>
</div>