@model Naviam.Models.MenuModel
<div class="menu_container">
    <ul id="menu">
        @foreach (var item in @Model.TopMenu)
        {
            if (item.Selected)
            { 
            <li class="menu_item menuparent active"><a style="color:White;" href="@Url.Content(item.Url)">@item.Title</a></li>
            }
            else 
            { 
            <li class="menu_item menuparent"><a href="@Url.Content(item.Url)">@item.Title</a></li>
            }
        }
    </ul>
</div>