@using Naviam.Resources;
@{
    ViewBag.Title = SharedStrings.TransactionsTitle;
    Layout = "~/Views/Shared/LayoutMember.cshtml";
    ViewBag.CombresScripts = "transactions";
}
@*intellisense support*@
@if (false)
{ 
    <script type="text/javascript" src="~/Scripts/jquery-1.6.2.js"></script> 
    <script type="text/javascript" src="~/Scripts/knockout-1.2.1.js"></script> 
    <script type="text/javascript" src="~/Scripts/knockout.mapping.js"></script> 
}
<script type='text/javascript'>
    var getTransUrl = '@Url.Action("GetTransactions", "Transactions")';
    var updateTransUrl = '@Url.Action("UpdateTransaction", "Transactions")';
    var getCatUrl = '@Url.Action("GetCategories", "Transactions")';
    var imageFilesPath = '@Url.Content("~/Content/images/dpicker/")';
</script>
@*<a href="#" onclick='return transModel.Add();'>Add</a>*@
<a href="#" onclick='return transModel.ReloadPage();'>Refresh</a>
<script type="text/html" id="transRowTemplate">
    <tr data-bind="click: function(event) { transModel.GoToEdit(event, $data); }, css: {selected: transModel.selectedRow() == Id()}">
        <td style="width:12%">
            <div>
            <span data-bind="msDateTime: Date" name="Date"></span>
            <img data-bind="visible: transModel.selectedRow() == Id(), click: function(event) {transModel.showCalendar(event, $data);}" style="cursor:pointer;" alt="" src="@Url.Content("~/Content/images/dpicker/cal.gif")">
            <div>
        </td>
        <td style="width:38%"><span data-bind="visible: transModel.selectedRow() != Id(), text: Description"></span><input class="width100" data-bind="visible: transModel.selectedRow() == Id(), value: Description" /></td>
        <td style="width:35%">
            <span data-bind="visible: transModel.selectedRow() != Id(), text: Category"></span>
            <div data-bind="visible: transModel.selectedRow() == Id()" style='position:relative;'><input class="width100" data-bind="category: Category" name="Category"/><a href="#" onclick='return transModel.ShowCategories(this);' class='category_picker'></a></div>
        </td>
        <td style="width:10%">
            @*<span data-bind="text: Amount, visible: transModel.selectedRow() != Id() || (transModel.currentItem != null && transModel.currentItem.Id() != null)"></span>
            <input class="width100" data-bind="visible: transModel.selectedRow() == Id() && transModel.currentItem.Id() == null, value: Amount" />*@
            <span data-bind="text: Amount, visible: transModel.selectedRow() != Id()"></span>
            <input class="width100" data-bind="visible: transModel.selectedRow() == Id(), numeric: Amount" />        
        </td>
        <td style="width:5%"><a href="#" data-bind="visible: transModel.selectedRow() == Id(), click: function(event) {transModel.ShowEditArea(event, $data);}">Edit</a></td>
    </tr>
</script>

<script type="text/html" id="transPagingTemplate">
    <span>@DisplayNames.Page:</span>
    {{each(i) ko.utils.range(1, paging.PagesCount)}}
        <a href="#" data-bind="click: function() { paging.Page(i+1) }, css: { selected: i+1 == paging.Page() }">
            ${ i + 1 }
        </a>
    {{/each}}
</script>
<script type="text/html" id="transHeadTemplate">
    <tr>
    {{each(i, head) headItems()}}
        <th data-bind="attr: {colspan: Columns}, text: Text()+(paging.SortField()==head.Field() ? (paging.SortDirection() == 0 ? ' ▲' : ' ▼') : ''), click: function() { Sort(head.Field()) }"></th>
    {{/each}}
    </tr>
</script>
<div id="transGrid">
    <table class='trans_grid'>
        <thead data-bind='template: "transHeadTemplate"' >
        </thead>
        <tbody data-bind='template: { name: "transRowTemplate", foreach: items }'>
        </tbody>
    </table>
    @*    <div class='hidden' id='edit_row' style='position:fixed;border:1px solid #000;'>
        <table width="100%">
        <tr>
        <td><input name="Description" /></td>
        </tr>
        </table>
        <a href="#" onclick='return transModel.ShowEditArea(this);'>Edit</a>
        <div class='edit_area hidden'">
            tstst
        </div>
    </div>*@
    <div data-bind='template: "transPagingTemplate"' class='paging'>
    </div>
</div>

<script type="text/html" id="catTemplate">
    <li>
    <a href="#" data-bind="click: function(event) { catModel.AssignCategory($data); }, text: Name"></a>
        <ul>
        {{each(i, item) Subitems()}}
            <li data-bind="click: function(event) { catModel.AssignCategory(item); }">
            <a href="#" data-bind="text: Name"></a>
            </li>
        {{/each}}
        </ul>
    </li>
</script>
<div id="cat_menu" style='position:fixed'>
    <ul data-bind="template: {name:'catTemplate', foreach:items}" class='dropdown'>
    </ul>
</div>

<div class="overlay" id="edit_form">
    <h3>TEST</h3>
    <button class='close'>Ok</button>
    <button class='close'>@SharedStrings.Cancel</button>
</div>