@using Naviam.WebUI.Resources
@using Naviam.Data;
@{
    ViewBag.Title = SharedStrings.TransactionsTitle;
    Layout = "~/Views/Shared/_LayoutWithSidebars.cshtml";
    ViewBag.CombresScripts = "transactions";
}
@*intellisense support*@
@if (false)
{ 
    <script type="text/javascript" src="~/Scripts/jquery-1.6.2.js"></script> 
    <script type="text/javascript" src="~/Scripts/knockout-1.2.1.js"></script> 
    <script type="text/javascript" src="~/Scripts/knockout.mapping.js"></script> 
    <script type="text/javascript" src="~/Scripts/common.js"></script> 
}

<script type='text/javascript'>
    var getTransUrl = '@Url.Action("GetTransactions", "Transactions")';
    var delTransUrl = '@Url.Action("DeleteTransaction", "Transactions")';
    var updateTransUrl = '@Url.Action("UpdateTransaction", "Transactions")';
    
    var getDicts = '@Url.Action("GetDicts", "Transactions")';
    var getCatEditDlg = '@Url.Action("GetCategoriesEditDialog", "Transactions")';
    var updateCatUrl = '@Url.Action("UpdateCategory", "Transactions")';
    var delCatUrl = '@Url.Action("DeleteCategory", "Transactions")';
    
    var getTagsEditDlg = '@Url.Action("GetTagsEditDialog", "Transactions")';
    var updateTagUrl = '@Url.Action("UpdateTag", "Transactions")';
    var delTagUrl = '@Url.Action("DeleteTag", "Transactions")';

    var getExchangeDlg = '@Url.Action("GetExchangeDialog", "Transactions")';
    var getSplitDlg = '@Url.Action("GetSplitDialog", "Transactions")';
    var splitTransUrl = '@Url.Action("SplitTrans", "Transactions")';

    var getAccountsUrl = '@Url.Action("GetAccounts", "Accounts")';
    var updateAccountUrl = '@Url.Action("UpdateAccount", "Accounts")';
    var addAccountAmountUrl = '@Url.Action("AddAccountAmount", "Accounts")';
    var deleteAccountUrl = '@Url.Action("DeleteAccount", "Accounts")';
    //var imageFilesPath = '@Url.Content("~/Content/images/dpicker/")';
    $(document).ready(function () {
        $(window).mousedown(function (event) {
            var check = $(event.target).parents('.tooltip').length;
            if (check === 0) $("#accounts_move").hide();
        });
        $('#upload_statement').html5_upload({ autostart: false, onFinish: function (event, total) {
            if (total > 0) {
                transModel.ReloadPage();
                accountsModel.Refresh();
            }
        }
        });
    });
    function beg_upload_statement() {
        $('#upload_statement').trigger('html5_upload.start');
        return false;
    }
</script>

@section LeftColumn {
<script type="text/html" id="accountsTemplate">
    <li data-bind="click: function(event) { $item.current($data); }, css: {selected: $item.current() == $data}">
        <div data-bind="text: Name, attr: {title: Name}" style='width:190px;' class='text_ellipsis'></div> 
        <div class='amount'><span data-bind="amount: Balance, visible: $data.Id() != null"></span>&nbsp;<span data-bind="text: Currency, visible: $data.Id() != null"></span></div>
        <div data-bind="text: FinInstitutionName, attr: {title: FinInstitutionName}" style='width:120px;' class='text_ellipsis small'></div> 
        <ul class="actions" data-bind="visible: $data.Id() != null">
            <li class="edit"><a title="@SharedStrings.Edit" href="#"><img src="@Url.Content("~/Content/images/edit.png")" data-bind="click: function(event) { event.stopPropagation();$item.edit($data);}" /></a></li>
            <li class="delete"><a title="@SharedStrings.Delete" href="#"><img src="@Url.Content("~/Content/images/delete.png")" data-bind="click: function(event) { event.stopPropagation();$item.delete($data);}"/></a></li>
        </ul>
    </li>
</script>
<div id="accounts" class='left_side_pnl'>
    <h5>@SharedStrings.Accounts</h5>
    <a href="#" data-bind="click: function(event) { addItem(); }" class='edit'>@SharedStrings.Add</a>
    <ul data-bind="template: {name:'accountsTemplate', foreach:items, templateOptions: { current: selectedItem, edit: editItem, delete: deleteItem } }" class='acc_menu'>
    </ul>
</div>

<script type="text/html" id="tagsTemplate">
    <li data-bind="click: function(event) { $item.current($data); }, css: {selected: $item.current() == $data}">
        <span data-bind="text: Name, visible: $item.currentEdit() != $data"></span>
        <input data-bind="notEmpty: Name, event: {change: function() {$item.edit($data);} }, visible: $item.currentEdit() == $data" placeholder='@SharedStrings.EnterNewTag' type="text"/>
        <ul class="actions" data-bind="visible: $data.UserId() != null && $item.currentEdit() != $data">
            <li class="edit"><a title="@SharedStrings.Edit" href="#"><img src="@Url.Content("~/Content/images/edit.png")" data-bind="click: function(event) { event.stopPropagation();$item.currentEdit($data);}" ></a></li>
            <li class="delete"><a title="@SharedStrings.Delete" href="#"><img src="@Url.Content("~/Content/images/delete.png")" data-bind="click: function(event) { event.stopPropagation();$item.delete($data);}"/></a></li>
        </ul>
        <ul class="actions" data-bind="visible: $item.currentEdit() == $data">
            <li><a title="@SharedStrings.Cancel" href="#"><img src="@Url.Content("~/Content/images/cancel.png")" data-bind="click: function(event) { event.stopPropagation();$item.cancelAdd();}" ></a></li>
        </ul>
    </li>
</script>
<div id="tags" class='left_side_pnl'>
    <h5>@SharedStrings.Tags</h5>
    <a href="#" data-bind="click: function(event) { addTag(); }" class='edit'>@SharedStrings.Add</a>
    <ul data-bind="template: {name:'tagsTemplate', foreach:tags, templateOptions: { current: selectedTag, edit: editTag, currentEdit: editedTag, cancelAdd: cancelAddTag, delete: deleteTag } }" class='acc_menu'>
    </ul>
</div>
<div class='left_side_pnl'>
    <a href="#" onclick='return catModel.EditCategories();' class='edit'>@SharedStrings.EditCategories</a>
</div>
}

@section RightColumn {
<div id="filter_area" class='left_side_pnl' data-bind='visible: selectedItem() != null && selectedItem().Id() != null' style="display: none;">
    <h5>@SharedStrings.Search</h5>
    <ul class='acc_menu'>
        <li><a href="#" data-bind="click: function(event) {searchByKey('Merchant', selectedItem() != null ? selectedItem().Merchant : ''); }, text: selectedItem() != null ? selectedItem().Merchant : ''" class='text_ellipsis'></a></li>
        <li><a href="#" data-bind="click: function(event) {searchByKey('CategoryId', selectedItem() != null ? selectedItem().CategoryId : '', 'int'); }, text: selectedItem() != null ? selectedItem().Category : ''" class='text_ellipsis'></a></li>
    </ul>
</div>
}


<script type="text/html" id="accounts_moveTemplate">
    <li>
        <a href="#" data-bind="click: function(event) { transModel.Transfer($data); }, text: Name"></a>
        <span data-bind="amount: Balance"></span> <span data-bind="text: Currency"></span>
    </li>
</script>
<div id="accounts_move" class='hidden tooltip' style="position: absolute;background-color:White;border:1px solid;width:300px;z-index:10000">
    <ul data-bind="template: {name:'accounts_moveTemplate', foreach:move_items }">
    </ul>
</div>

<script type="text/html" id="transRowTemplate">
    <tr data-bind="click: function(event) { transModel.GoToEdit(event, $data); }, css: {selected: transModel.selectedItem() == $data}">
        <td>
            <div>
            <span data-bind="msDateTime: Date, visible: transModel.selectedItem() != $data" name="Date"></span>
            <input class="width100 enterastab" data-bind="visible: transModel.selectedItem() == $data, datepicker: Date, datepickerOptions: {format: dateFormat.masks['default'], lang: lang.culture, selectors: true, firstDay: lang.firstDay}" />
            @*<img data-bind="visible: transModel.selectedRow() == Id(), click: function(event) {transModel.showCalendar(event, $data);}" style="cursor:pointer;" alt="" src="@Url.Content("~/Content/images/dpicker/cal.gif")">*@
            </div>
        </td>
        <td>
            <span data-bind="visible: transModel.selectedItem() != $data, text: Description"></span>
            <input class="width100 enterastab" data-bind="visible: transModel.selectedItem() == $data, value: Description" />
        </td>
        <td>
            <span data-bind="visible: transModel.selectedItem() != $data, text: Merchant"></span>
            <input class="width100 enterastab" data-bind="visible: transModel.selectedItem() == $data, value: Merchant" />
        </td>
        <td>
            <span data-bind="visible: transModel.selectedItem() != $data, text: Category"></span>
            <div data-bind="visible: transModel.selectedItem() == $data" style='position:relative;'>
                <input class="width100 enterastab" data-bind="category: Category" name="Category"/>
                <a href="#" onclick='return catModel.ShowCategories(this);' class='category_picker' tabindex='-1'></a>
            </div>
        </td>
        <td>
            @*<span data-bind="text: Amount, visible: transModel.selectedRow() != Id() || (transModel.currentItem != null && transModel.currentItem.Id() != null)"></span>
            <input class="width100" data-bind="visible: transModel.selectedRow() == Id() && transModel.currentItem.Id() == null, value: Amount" />*@
            <span data-bind="text: Direction() == 0 ? '-' : ''"></span>
            <span data-bind="amount: Amount, visible: transModel.selectedItem() != $data"></span>
            <input class="enterastab" data-bind="visible: transModel.selectedItem() == $data, amount: Amount" name="Amount" style="width:85%"/>        
            <span data-bind="text: Currency, visible: transModel.selectedItem() != $data"></span>
        </td>
    </tr>
</script>

<script type="text/html" id="transPagingTemplate">
    <span>@DisplayNames.Page:</span>
    {{each(i) ko.utils.range(1, paging.PagesCount)}}
        <a href="#" data-bind="click: function() { paging.Page(i+1) }, css: { selected: i+1 == paging.Page() }" tabindex='-1'>
            ${ i + 1 }
        </a>
    {{/each}}
</script>
<script type="text/html" id="transHeadTemplate">
    <tr>
    {{each(i, head) headItems()}}
        <th data-bind="attr: {colspan: Columns}, style: {width: Size()+'px'}, text: Text()+(paging.SortField()==head.Field() ? (paging.SortDirection() == 0 ? ' ▲' : ' ▼') : ''), click: function() { Sort(head.Field()) }"></th>
    {{/each}}
    </tr>
</script>
<div>
    <div class='search_area'>
        <input type="search" id='search_box' onkeypress="if (event.keyCode==13) transModel.Search();"/> <button onclick='transModel.Search();' type="button">@SharedStrings.Search</button>
    </div>
    <div style='clear:both'></div>
    <div id="transGrid">
        @{var user = ViewBag.CurrentUser as UserProfile;}
        
        <div data-bind="visible: accountsModel.selectedItem() != null && accountsModel.selectedItem().Id() != null" style="display: none;">
            <div class='upload_area'>
            <span>@SharedStrings.UploadDescription</span>
            @using (Html.BeginForm("UploadStatement", "Attachments", new { @cid = user.CurrentCompany, @accId = 0 }, FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <input type="file" id='upload_statement' name='fileToUpload'/>
                <button onclick='beg_upload_statement();' type="button">@SharedStrings.Upload</button>
            }
            </div>
            <a href="#" onclick='return transModel.Add();'>@SharedStrings.Add</a>
            <a href="#" onclick='return transModel.ShowExchange();'>@SharedStrings.Exchange</a>
        </div>
        <div class='grid'>
            <table>
                <thead data-bind='template: "transHeadTemplate"' ></thead>
                <tbody data-bind='template: { name: "transRowTemplate", foreach: items }'></tbody>
                <tfoot></tfoot>
            </table>
            <div class='hidden' style='position:absolute;background-color:White;' id='trans_actions' data-bind='visible: selectedItem() != null && selectedItem().Id() != null'>
                <a href="#" data-bind="click: function(event) {transModel.ShowEdit(event);}" tabindex='-1'>@SharedStrings.Edit</a>
            </div>
            <img src='@Url.Content("~/Content/images/refresh.png")' onclick='return transModel.ReloadPage();' style='float: right;cursor: pointer;margin-top: 3px;'/>
            <div data-bind='template: "transPagingTemplate"' class='paging'></div>
        </div>
    </div>
    <div class="overlaywoshadow" id="transDlg">
        <div>
            <button data-bind="visible: ko.utils.unwrapObservable(Id) != null, click: function(event) {transModel.ShowSplit(Id)}">@SharedStrings.Split</button>
            <button data-bind="visible: ko.utils.unwrapObservable(Id) != null, click: function(event) {transModel.DeleteById(Id)}">@SharedStrings.Delete</button>
            <button data-bind="visible: ko.utils.unwrapObservable(Id) != null, click: function(event) {transModel.ShowTransfer(Id, event, 'trans')}">@SharedStrings.Transfer</button>
            <button data-bind="visible: ko.utils.unwrapObservable(Id) != null, click: function(event) {transModel.ShowTransfer(Id, event, 'move')}">@SharedStrings.Move</button>
        </div>
        <table>
        <tr>
            <td></td>
            <td>
                <label><input data-bind="checked: Direction" name="Direction" type="radio" value='0'/>@DisplayNames.Expense</label>
                <label><input data-bind="checked: Direction" name="Direction" type="radio" value='1'/>@DisplayNames.Income</label>
            </td>
        </tr>
        <tr>
            <td>@DisplayNames.IncludeInTax:</td>
            <td><input data-bind="checked: IncludeInTax" name="IncludeInTax" type="checkbox"/></td>
        </tr>
        <tr>
            <td>@DisplayNames.Tags:</td>
            <td><div data-bind='template: { name: "transTagsTemplate", foreach: catModel.tags, templateOptions: { tagIds: TagIds } }'></div></td>
        </tr>
@*        <tr>
            <td>@DisplayNames.Merchant:</td>
            <td><input class="width100" data-bind="value: Merchant" name="Merchant"/></td>
        </tr>*@
        <tr>
            <td>@DisplayNames.Notes:</td>
            <td><textarea data-bind="value: Notes" name="Notes" rows='6' cols='30'></textarea></td>
        </tr>
        </table>
        <div>
            <button class='close' id='ok'>Ok</button>
            <button class='close' id='cancel'>@SharedStrings.Cancel</button>
        </div>     
    </div>
</div>
<script type="text/html" id="transTagsTemplate">
    <label><input type="checkbox" data-bind="checked: $item.tagIds(), value: Id"/><span data-bind="text: Name"></span></label>
</script>

<script type="text/html" id="catTemplate">
    <li>
    <a href="#" data-bind="click: function(event) { catModel.AssignCategory($data); }, text: Name"></a>
        <ul>
        {{each(i, item) Subitems()}}
            <li data-bind="click: function(event) { catModel.AssignCategory(item); }">
            <a href="#" data-bind="text: Name"></a>
            </li>
        {{/each}}
        </ul>
    </li>
</script>
<div id="cat_menu" style='position:absolute'>
    <ul data-bind="template: {name:'catTemplate', foreach:items}" class='dropdown'>
    </ul>
</div>


<div id='account_edit' class='overlay'>
@*TODO: move to partial view*@
@using (Html.BeginForm("UpdateAccount", "Accounts", FormMethod.Post, new {id = "editAccountFrm" }))
{
<table>
@*    <tr>
        <td>Account Type:<select data-bind="options: accountsModel.currItems, optionsText: 'NameShort', optionsValue: 'Id', optionsCaption: 'Select an item...', value: CurrencyId", required="required" ></select></td>
    </tr>*@
    <tr>
        <td>Account Name:<input data-bind="value: Name" name="Name" required="required"/></td>
    </tr>
    <tr>
        <td>Fin Inst: <select required="required" data-bind="options: accountsModel.finInst, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Select an item...', value: FinInstitutionId"></select></td>
    </tr>
    <tr data-bind="visible: FinInstitutionId">
        <td>Account Type: <select required="required" data-bind="options: accountsModel.getTypes(FinInstitutionId), optionsText: 'TypeName', optionsValue: 'Id', optionsCaption: 'Select an item...', value: TypeId"></select></td>
    </tr>
    <tr data-bind="visible: TypeId() == 2"> @*!!!Hardcoded (Bank card)*@
        <td>4 last digits:<input data-bind="value: CardNumber" name="CardNumber"/></td>
    </tr>
    <tr>
        <td>Currency: <select required="required" data-bind="options: accountsModel.currItems, optionsText: 'NameShort', optionsValue: 'Id', optionsCaption: 'Select an item...', value: CurrencyId"></select></td>
    </tr>
    <tr>
        <td>Initial Balance:<input data-bind="amount: InitialBalance, amountOptions: {allowZero: true}" name="InitialBalance" required="required"/></td>
    </tr>
    <tr>
        <td>Description:<textarea data-bind="value: Description" name="Description" rows='6' cols='30'></textarea></td>
    </tr>
</table>
<button type="button" data-bind="click: function(event) { Save(); }">Ok</button>
<button type="button" class='close'>@SharedStrings.Cancel</button>
<button type="button" data-bind="visible: ko.utils.unwrapObservable(Id) != null, click: function(event) {accountsModel.deleteItemById(Id)}" style='float:right'>@SharedStrings.Delete</button>
}
</div>

<div id='cat_edit_area' class="overlay"></div>
@*<div id='tag_edit_area' class="overlay"></div>*@
<div id='exchangeDialog' class="overlay" style='width:700px'></div>
<div id='splitDialog' class="overlay" style='width:700px'></div>

