@using Naviam.WebUI.Resources
@using Naviam.Data;
@{
    ViewBag.Title = SharedStrings.ReportsTitle;
    Layout = "~/Views/Shared/_LayoutWithSidebars.cshtml";
    ViewBag.CombresScripts = "reports";
    ViewBag.CombresCss = "reportsCss";
}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

@*intellisense support*@
@if (false)
{ 
    <script type="text/javascript" src="~/Scripts/jquery-1.6.2.js"></script> 
    <script type="text/javascript" src="~/Scripts/knockout-1.2.1.js"></script> 
    <script type="text/javascript" src="~/Scripts/knockout.mapping.js"></script> 
    <script type="text/javascript" src="~/Scripts/common.js"></script> 
}

<script type='text/javascript'>
    var getReportsUrl = '@Url.Action("GetReport", "Reports")';
    google.load("visualization", "1", { packages: ["corechart"] });
</script>

@*@section LeftColumn {
}
@section RightColumn {
}*@

<div id="timeline">
    <h3><span data-bind="text: timeFrameDesc"></span></h3>
    <ul class="h_menu timeframe_menu">
        <li><a href="#" data-bind="click: function() { request.selectedTimeFrame(0); },css: {underline: request.selectedTimeFrame() == 0}">@SharedStrings.ThisMonth</a></li>
        <li><a href="#" data-bind="click: function() { request.selectedTimeFrame(1); },css: {underline: request.selectedTimeFrame() == 1}">@SharedStrings.LastMonth</a></li>
        <li><a href="#" data-bind="click: function() { request.selectedTimeFrame(2); },css: {underline: request.selectedTimeFrame() == 2}">@SharedStrings.ThisYear</a></li>
        <li><a href="#" data-bind="click: function() { request.selectedTimeFrame(3); },css: {underline: request.selectedTimeFrame() == 3}">@SharedStrings.AllTime</a></li>
    </ul>
    <div style="clear:both"></div>
@*    <table style="" class='time_frame'>
    <tr>
        <td class='selected'>
            May<br />2011
        </td>
        <td>
            Jun<br />2011
        </td>
    </tr>
    </table>*@
</div>

<div style="clear:both"></div>

<div id="rep_menu">
    <script type="text/html" id="r_menuTemplate">
        <li data-bind="click: function() { $item.current($data); }, css: {underline: $item.current() == $data}">
            <a data-bind="text: caption" href='#'/>
        </li>
    </script>
    <div>
        <ul data-bind="template: {name:'r_menuTemplate', foreach:menu, templateOptions: { current: selectedMenu } }" class='h_menu'>
        </ul>
    </div>
    <div style="clear:both"></div>
    <div>
        <ul data-bind="template: {name:'r_menuTemplate', foreach:selectedMenu() ? selectedMenu().subMenu : null, templateOptions: { current: selectedSubMenu } }" class='h_menu'>
        </ul>
    </div>
</div>
<div style="clear:both"></div>


<div id='report_page'>
    <div style='float:right;margin-top: 10px;margin-right:10px;'>
        <a href="#"><img src="@Url.Content("~/Content/images/stats_pie.png")" data-bind="click: function() { graphType(0); }"/></a>
        <a href="#"><img src="@Url.Content("~/Content/images/stats_bars.png")" data-bind="click: function() { graphType(1); }"/></a>
    </div>

    <script type="text/html" id="r_currTemplate">
        <li data-bind="click: function() { $item.current($data.Id()); }, css: {underline: $item.current() == $data.Id()}">
            <a data-bind="text: NameShort" href='#'/>
        </li>
    </script>
    <ul data-bind="template: {name:'r_currTemplate', foreach:currencies, templateOptions: { current: request.selectedCurrency } }" class='h_menu'></ul>

    <div style="clear:both"></div>

    <div id="chart_p"></div>
    <div id="chart_b"></div>
    <div id="chart_c"></div>

    <script type="text/html" id="r_tableTemplate">
        <tr>
            @*<td><span data-bind="text: Id"/></td>*@
            <th><span data-bind="text: Name"/></th>
            <td><span data-bind="amount: Amount"/></td>
        </tr>
    </script>

    <script type="text/html" id="r_tableHTemplate">
            <tr>
            <th><span data-bind="text: headColumn1"/></th>
            <td><span data-bind="text: headColumn2"/></td>
            </tr>
    </script>
    
    <table id='portfolio' class="portfolio">
        <thead data-bind='template: { name: "r_tableHTemplate" }'>
        </thead>
        <tfoot>
            <tr class="totals">
            <th>@SharedStrings.Total</th>
            <td data-bind="amount: endAmount"></td>
            </tr>
        </tfoot>
        <tbody data-bind="template: {name:'r_tableTemplate', foreach:items }" ></tbody>
    </table>
</div>

